command -v nix >/dev/null || { echo "!! nix not installed"; exit 1; }
[ -f flake.nix ] || { echo "!! No flake.nix found"; exit 1; }
nix flake show >/dev/null || { echo "!! flake.nix is broken"; exit 1; }

use flake
